<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcaompus.boardserver.mapper.PostMapper">
    <insert id="register" parameterType="com.fastcaompus.boardserver.dto.PostDTO">
        INSERT INTO post (id, name, is_admin, contents, create_time, views, category_id, user_id, file_id, update_time)
        VALUES (#{id}, #{name}, #{isAdmin}, #{contents}, #{createTime}, #{views}, #{categoryId}, #{userId},#{fileId},#{updateTime})
    </insert>

    <select id="selectMyPosts" resultType="com.fastcaompus.boardserver.dto.PostDTO">
        SELECT id,name,is_admin,contents,create_time,views,category_id,user_id,file_id,update_time
        FROM post
        WHERE user_id = #{accountId}
    </select>

    <update id="updatePosts">
        UPDATE post
        SET name=#{name}, contents=#{contents}, views=#{views}, category_id=#{categoryId}, user_id=#{userId}, file_id=#{fileId}, update_time=#{updateTime}
        WHERE id=#{id}
    </update>

    <delete id="deletePosts">
        DELETE FROM post
        WHERE id = #{postId}
    </delete>

</mapper>